<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179851089730-ff4719fq56ck18dk7i160a0rk36a77uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179851089730-ff4719fq56ck18dk7i160a0rk36a77uj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179851089730-o4ugd92jbof68fu2bqi1vbkkvjq9qtvo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6PMg3BifsnWALrnF5JabvNvUhtP_C6ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>179851089730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techfaculty.nkwonnewiapp</string>
	<key>PROJECT_ID</key>
	<string>nkwo-nnewi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nkwo-nnewi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179851089730:ios:3b69972f509d11e0351adb</string>
</dict>
</plist>